#board {
  /* border: solid blue; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#topRow {
  border: solid black;
  height: 20%;
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
}

#opponentInfoBox {
  width: 33.33%;
}

#vidDiv {
  width: 33.33%;
}

#scoreDiv {
  width: 33.33%;
  font-size: 5vmin;
  text-align: right;
  padding-right: 10px;
}

#opponentEvenBox {
  /* border: dotted green; */
  height: 49%;
  margin-bottom: 4px;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

#opponentOddBox {
  /* border: dotted red; */
  height: 49%;
  margin-top: 4px;
  display: flex;
  align-items: flex-start;
}

.oppCard {
  height: 100%;
}

.inOppDeck {
  margin-right: 5px;
}

#spotlightDiv {
  margin: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30%;
  display: flex;
  position: relative;
  border: solid black;
  align-items: center;
  justify-content: space-between;
}

#spotlightCenter, #spotlightLeft, #spotlightRight {
  height: 100%;
}

.inSpotlight {
  margin-top: 0px;
  height: 100%;
}

#command {
  height: 20%;
  border: solid black;
}

#messages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
}

#deck {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  height: 65%;
  align-items: center;
  justify-content: center;
  border: dotted rgb(17, 163, 221);
}

.inDeck {
  margin-right: 1%;
  margin-left: 1%;
}

img {
  position: relative;
  height: 100%;
}