#board {
  /* border: solid blue; */
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#topRow {
  /* border: solid black; */
  height: 20%;
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
}

#opponentInfoBox {
  width: 29.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#opponentHandText {
  height: 100%;
  font-size: 3.2vmin;
}

.oppCardBox {
  height: 36%;
}

#opponentEvenBox {
  /* border: dotted green; */
  margin-bottom: 2px;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

#opponentOddBox {
  /* border: dotted red; */
  margin-top: 2px;
  display: flex;
  align-items: flex-start;
}

.oppCard {
  height: 100%;
}

.inOppDeck {
  margin-right: 5px;
}

#vidDiv {
  width: 40%;
  display: flex;
}

#playerCam {
  width: 50%;
  padding-right: 4px;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

#opponentCam {
  width: 50%;
  padding-left: 4px;
  align-items: flex-start;
}

video {
  height: 100%;
}

#gameInfoBox {
  width: 30%;
  display: flex;
}

#turnInfo {
  width: 58%;
  font-size: 3.5vmin;
  text-align: right;
  padding-right: 10px;
}

#scoreInfo {
  width: 42%;
  font-size: 3.5vmin;
  text-align: right;
  padding-right: 10px;
}

#spotlightDiv {
  margin: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30%;
  display: flex;
  position: relative;
  /* border: solid black; */
  align-items: center;
  justify-content: space-between;
}

#spotlightCenter, #spotlightLeft, #spotlightRight {
  height: 100%;
}

.inSpotlight {
  margin-top: 0px;
  height: 100%;
}

#command {
  height: 20%;
  /* border: solid black; */
}

#messages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
}

#deck {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  height: 65%;
  align-items: center;
  justify-content: center;
  /* border: dotted rgb(17, 163, 221); */
}

.inDeck {
  margin-right: 2px;
  margin-left: 2px;
}

img {
  position: relative;
  height: 100%;
}

#vidOptions {
  text-align: center;
}